PngImage_1 RCDATA "img\\gota.png"
PngImage_2 RCDATA "img\\lluvia.png"
PngImage_3 RCDATA "img\\nieve.png"
PngImage_4 RCDATA "img\\nube.png"
PngImage_5 RCDATA "img\\sol.png"
PngImage_6 RCDATA "img\\solnube.png"
PngImage_7 RCDATA "img\\solnubelluvia.png"
PngImage_8 RCDATA "img\\termAzul.png"
PngImage_9 RCDATA "img\\termNaranja.png"
PngImage_10 RCDATA "img\\termRojo.png"
PngImage_11 RCDATA "img\\tormenta.png"
PngImage_12 RCDATA "img\\viento.png"
